/* line 4, Users/katry/Documents/Development/Web/Gypsyworks/gypsyworks/assets/scss/common.scss */
.title_txt {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}
