/* line 4, Users/katry/Documents/Development/Web/Gypsyworks/gypsyworks/assets/scss/common.scss */
.title_txt {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

/* line 10, Users/katry/Documents/Development/Web/Gypsyworks/gypsyworks/assets/scss/common.scss */
.page_container {
  height: 100vh;
  width: 100vw;
  background-color: #00c800;
  position: relative;
}

/* line 15, Users/katry/Documents/Development/Web/Gypsyworks/gypsyworks/assets/scss/common.scss */
.page_container .centerize_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #0000fa;
}
