@font-face {
  font-family: 'TF-HOTSU_L';
  src: url("~@/assets/fonts/hotsumaKakukaku.ttf") format("TrueType");
}

@font-face {
  font-family: 'Oradano-mincho-GSRR';
  src: url("~@/assets/fonts/OradanoGSRR.ttf") format("TrueType");
}

@font-face {
  font-family: 'Dymo';
  src: url("~@/assets/fonts/Dymo.ttf") format("TrueType");
}

@font-face {
  font-family: 'DiaPro';
  src: url("~@/assets/fonts/DiaPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Tompa';
  src: url("~@/assets/fonts/YouTompa.ttf") format("TrueType");
}
